.factura-card {

    background:#181A1B;
    padding:40px;
    border-radius:8px;
    box-shadow:
    0 4px 6px rgba(0,0,0,0.1);

}



.factura-header {

    display:flex;
    justify-content:space-between;
    border-bottom:2px solid #2563eb;
    padding-bottom:20px;
    margin-bottom:20px;

}



.factura-header h1 {

    color:#2563eb;
    font-size:1.6rem;

}



.factura-header h2 {

    color:#334155;

}



.factura-header input {

    padding:8px;
    border:1px solid #cbd5e1;
    border-radius:5px;

}




.cliente-container {

    background:#181A1B;
    padding:15px;
    border-radius:6px;
    border:1px solid #181A1B;
    margin-bottom:25px;

}



.cliente-container input {

    padding:8px;
    margin:5px;
    border:1px solid #cbd5e1;
    border-radius:5px;

}




.tabla-factura {

    width:100%;
    border-collapse:collapse;
    margin-bottom:25px;

}



.tabla-factura th {

    background:#181A1B;
    padding:10px;
    text-align:left;
    border-bottom:2px solid #cbd5e1;

}



.tabla-factura td {

    padding:12px;
    border-bottom:1px solid #cbd5e1;

}




.totales-box {

    margin-left:auto;
    width:300px;
    font-size:1rem;

}



.totales-box h3 {

    color:#2563eb;
    border-top:2px solid #cbd5e1;
    padding-top:10px;

}



#btn-pdf {

    margin-top:20px;
    padding:12px 20px;
    background:#10b981;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;

}



.generating-pdf #btn-pdf {

    display:none;

}



.generating-pdf input {

    border:none;

}
